
.card-1:hover {
    background-color: white;
}

.card-2:hover {
    background-color: white;
}

.card-3:hover {
    background-color: white;
}

.card-4:hover {
    background-color: white;
}


.card {
    margin: 10px 0px;
}

.CardBtn {
    text-align: center;
    padding: 20px;
    border: 1px solid #808080;
    margin: 10px;
    border-radius: 15px;
    color: #193b80;
}

.badges {
    color: white;
    border-radius: 7px;
    padding: 2px 5px;
    float: left;
    font-size: 10px;
}

.bgNew {
    background-color: #193b80;
}

.bgProg {
    background-color: #f4b41a;
}

.bgCompleted {
    background-color: #63bc3e;
}

.card-title {
    font-size: 18px;
}

.CardHead {
    background-color: #81715e;
    color: white;
}


