.bg-Title {
    background-color: #f4faff;
    border-right: #a0ccff solid 1px;
    padding: 15px;
    font-weight: 700;
    color: #193b80
}

.shd {
    -webkit-box-shadow: 0px 2px 14px -1px rgba(224,238,255,1);
    -moz-box-shadow: 0px 2px 14px -1px rgba(224,238,255,1);
    box-shadow: 0px 2px 14px -1px rgba(224,238,255,1);
}


.col-sm-3 {
    padding: 10px;
}

.boolspan {
    padding: 5px 10px;
    background-color: #c5e4ff;
    border-radius: 5px;
    margin: 5px;
}


.badges {
    border-radius: 3px;
    width: 80px;
    font-size: x-small;
    color: white;
    padding: 1px 8px;
    float: left;
    text-align: center;
}

.badgeNew {
    background-color: #193b80;
}

.badgeProgress {
    background-color: #f5a823;
}

.badgeCompleted {
    background-color: #1d9f18;
}

.badgeNormal {
    color: #1fb3e0;
    font-weight: 700;
    float: left;
    font-size: small;
}

.badgeMid {
    color: #e56e3c;
    font-weight: 700;
    float: left;
    font-size: small;
}

.badgeHigh {
    color: #dc3333;
    font-weight: 700;
    float: left;
    font-size: small;
}
