.card {
    margin: 10px 0px;
    border: solid 1px #a0ccff;
}

.card-header {
    border-bottom: solid 1px #a0ccff;
    background-color: #f4faff;
    color: #193b80;
}
.Title {
    color: #193b80;
    font-weight: 700;
}

.shd {
    -webkit-box-shadow: 0px 2px 14px -1px rgba(224,238,255,1);
    -moz-box-shadow: 0px 2px 14px -1px rgba(224,238,255,1);
    box-shadow: 0px 2px 14px -1px rgba(224,238,255,1);
}

.btn-Submit {
    padding: 10px 30px;
    color: #fff;
    background-color: #54c253;
    border-color: #54c253;
    border-radius: 30px;
}

    .btn-Submit:hover {
        color: #54c253;
        background-color: #c1ffc0;
        border-color: #c1ffc0;
    }

table tr td {
    border: none;
}

.form-control {
    width: 100%;
    padding: 10px 10px;
    border: none;
    outline: none;
    border-bottom: 2px solid #a0ccff;
    text-align: right;
    background-color: #fbfdff;
    line-height: 18px;
    border-radius: 0;
}

select {
    width: 100%;
    padding: 4px 5px;
    border: none;
    outline: none;
    border-bottom: 2px solid #a0ccff;
    text-align: right;
    background-color: #fbfdff;
    line-height: 18px;
}

input[type=text] {
    width: 100%;
    padding: 10px 10px;
    border: none;
    outline: none;
    border-bottom: 2px solid #a0ccff;
    text-align: right;
    background-color: #fbfdff;
    line-height: 18px;
}

textarea {
    width: 100%;
    padding: 10px 10px;
    border: none;
    outline: none;
    border-bottom: 2px solid #a0ccff;
    text-align: right;
    background-color: #fbfdff;
    line-height: 18px;
}

input[type=datetime-local] {
    width: 100%;
    padding: 10px 10px;
    border: none;
    outline: none;
    border-bottom: 2px solid #a0ccff;
    text-align: right;
    background-color: #fbfdff;
    line-height: 18px;
}

.btn-default {
    float: left;
    margin: 5px;
}

.radio-toolbar input[type="radio"] {
    opacity: 0;
    position: fixed;
    width: 0;
}

.radio-toolbar label {
    display: block;
    background-color: #fbfdff;
    padding: 10px 20px;
    border: 1px solid #a0ccff;
    border-radius: 4px;
    margin-bottom: 10px;
    font-size: small;
}

    .radio-toolbar label:hover {
        background-color: #3f75e3;
        color: white;
    }

.radio-toolbar input[type="radio"]:focus + label {
    border: 2px solid #3f75e3;
}

.radio-toolbar input[type="radio"]:checked + label {
    background-color: #3f75e3;
    border-color: #3f75e3;
    color: white;
}

/* .radio-toolbar input[type="checkbox"] {
            opacity: 0;
            position: fixed;
            width: 0;
        }

            .radio-toolbar input[type="checkbox"]:focus + label {
                border: 2px solid #3f75e3;
            }

            .radio-toolbar input[type="checkbox"]:checked + label {
                background-color: #3f75e3;
                border-color: #3f75e3;
                color: white;
            }*/

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


.filter-option-inner {
    text-align: right;
}

.bootstrap-select .dropdown-toggle .caret {
    position: unset;
}

.bootstrap-select > .dropdown-toggle:after {
    display: none;
}
.form-check-input {
    appearance: none;
    -webkit-appearance: none;
    width: 40px;
    height: 20px;
    background-color: #ccc;
    border-radius: 20px;
    position: relative;
    margin: 0;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
    display: inline-block;
}

    .form-check-input::before {
        content: '';
        position: absolute;
        top: 2px;
        left: 2px;
        width: 16px;
        height: 16px;
        background-color: white;
        border-radius: 50%;
        transition: transform 0.3s;
    }

    .form-check-input:checked {
        background-color: #007bff;
    }

        .form-check-input:checked::before {
            transform: translateX(20px);
        }

    .form-check-input:focus {
        outline: max(2px, 0.15em) solid #a0ccff;
        outline-offset: max(2px, 0.15em);
    }

    .form-check-input:disabled {
        background-color: var(--form-control-disabled);
        cursor: not-allowed;
    }

.form-check-label {
    margin-left: 10px; /* Adjust spacing between the switch and label */
    font-family: Changa;
    font-size: small;
    font-weight: bold;
    line-height: 1.1;
}


.ShowBtn {
    background-color: #a0ccff;
}

    .ShowBtn:hover {
        background-color: #a0ccff;
        color: #3f75e3;
    }


.plusbtn {
    font-size: 17px;
    padding: 5px;
    color: #fff
}

