
:root {
    --content-width: 1200px;
    --breakpoint: 1000px;
    --nav-height: 60px;
    --nav-background: #ffffff;
    --nav-font-color: #7b7268;
    --link-hover-color: #ffffff;
}

.navigation {
    /*border-top: solid 5px*/ /*#ff8c3b*/ /*#193b80;*/
    text-align: right;
    height: var(--nav-height);
    background: var(--nav-background);
    direction: rtl;
}

.brandtext {
}

.brand {
    position: absolute;
    padding-right: 20px;
    line-height: var(--nav-height);
    text-transform: uppercase;
    font-size: 1.4em;
    font-weight: 700;
}

    .brand a, .brand a:visited {
        color: var(--nav-font-color);
        text-decoration: none;
    }

.nav-container {
    max-width: var(--content-width);
    margin: 0 auto;
}

nav {
    float: left;
}

    nav ul {
        list-style: none;
        margin: 0;
        padding: 0;
        background-color: white;
        border-bottom: 2px solid white;
    }

        nav ul li {
            float: right;
            position: relative;
        }

            nav ul li a, nav ul li a:visited {
                margin: 0px 5px;
                display: block;
                padding: 0 20px;
                line-height: var(--nav-height);
                background: var(--nav-background);
                color: var(--nav-font-color);
                text-decoration: none;
                font-size: small;
                font-weight: 500;
            }

                nav ul li a:hover {
                    color: #7b7268;
                    background-color: #f5f4f3;
                    text-decoration: none;
                    font-weight: 500;
                }

                nav ul li a:not(:only-child):after {
                    padding-left: 7px;
                    content: ' ▾';
                }

            nav ul li ul li {
                min-width: 190px;
            }

                nav ul li ul li a {
                    padding: 10px;
                    line-height: 15px;
                }

.nav-dropdown {
    position: absolute;
    display: none;
    z-index: 1;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
}

.nav-mobile {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    background: var(--nav-background);
    height: var(--nav-height);
    width: var(--nav-height);
}

@media only screen and (max-width: 900px) {
    .nav-mobile {
        display: block;
    }

    nav {
        width: 100%;
        padding: var(--nav-height) 0 15px;
    }

        nav ul {
            display: none;
        }

            nav ul li {
                float: none;
            }

                nav ul li a {
                    padding: 15px;
                    line-height: 20px;
                }

                nav ul li ul li a {
                    padding-left: 10px;
                }

    .nav-dropdown {
        position: static;
    }
}

@media screen and (min-width: var(--breakpoint)) {
    .nav-list {
        display: block !important;
    }
}

#nav-toggle {
    position: absolute;
    right: 18px; /* Adjusted for RTL, so the toggle is on the right */
    top: 22px;
    cursor: pointer;
    padding: 3px;
}

    #nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
        cursor: pointer;
        border-radius: 1px;
        height: 5px;
        width: 15px;
        background: var(--nav-font-color);
        position: absolute;
        display: block;
        content: '';
        transition: all 300ms ease-in-out;
        margin-top: 0;
    }

        #nav-toggle span:before {
            top: -10px;
        }

        #nav-toggle span:after {
            bottom: -10px;
        }

    #nav-toggle.active span {
        background-color: transparent;
    }

        #nav-toggle.active span:before {
            transform: rotate(45deg);
            top: 0;
        }

        #nav-toggle.active span:after {
            transform: rotate(-45deg);
            bottom: 0;
        }
