
@{
    ViewBag.Title = "تفاصيل زيارة مراقبة الكترونية أو خدمة مجتمعية";
}

<head>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" />
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" />
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>

    <script src="~/Scripts/js/fabric.min.js"></script>
    <style>
        * {
            text-align: right;
            direction: rtl
        }

        .Subtitle {
            background-color: #81715e0e;
            color: #81715e;
            padding: 15px;
            font-weight: 700;
            font-size: 15px;
        }

        .control-label {
            font-weight: 600;
        }

        .form-control {
            font-size: small;
        }

        select {
            -webkit-appearance: menulist;
            -moz-appearance: menulist;
            appearance: menulist;
        }

            select.custom-select {
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
                background-image: url('arrow-down-icon.png');
                background-repeat: no-repeat;
                background-position: right center;
                padding-right: 300px;
            }

        .nav-link {
            color: #81715e;
        }

        .nav-tabs .nav-item.show .nav-link,
        .nav-tabs .nav-link.active {
            background-color: #81715e0b;
            color: #81715e;
            font-weight: 600;
            border-top: 3px solid #81715e;
            border-radius: 0px;
        }
    </style>
</head>
<div class="container-fluid mt-3">
    <div class="p-3 bg-white shadow-sm" style="font-size:small">
        <h3 class="p-3" style="color: #7b7268">تفاصيل زيارة مراقبة الكترونية أو خدمة مجتمعية</h3>
        <div class="row">
            <div class="col-md-12">
                <div class="Subtitle">بيانات الزيارة</div>
                <div class="p-2">
                    <div class="row">
                        <div class="col-sm-2">
                            <label class="control-label">الاسم</label>
                        </div>
                        <div class="col-sm-10">
                            راشد أحمد محمد
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-2">
                            <label class="control-label">تاريخ الزيارة</label>
                        </div>
                        <div class="col-sm-10">
                            30-03-2025
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2">
                            <label class="control-label">مكان الزيارة</label>
                        </div>
                        <div class="col-sm-10">
                            العمل
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-sm-2">
                            <label class="control-label">اسم الجهة المنفذة</label>
                        </div>
                        <div class="col-sm-10">
                            <span>
                                المحكمة العليا
                            </span>
                        </div>
                    </div>
                    

                    <div class="row">
                        <div class="col-sm-2">
                            <label class="control-label">تقرير الزيارة</label>
                        </div>
                        <div class="col-sm-10">
                            تم إجراء زيارة ميدانية للمستفيد في موقع العمل بتاريخ 30-03-2025. لوحظ التزام المستفيد بالحضور في الوقت المحدد، وكان متعاونًا مع الجهة المنفذة.
                            تبين من خلال المتابعة أن المستفيد يؤدي المهام المطلوبة منه بشكل مرضٍ، ولا توجد ملاحظات سلبية من قبل مشرف الجهة. نوصي بالاستمرار في البرنامج ومتابعة الأداء بشكل دوري.
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>
